## Carga de datos desde la fuente

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv ('https://raw.githubusercontent.com/jsaraujott/datos/refs/heads/main/games.csv', sep=(','))

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [8]:
df.sample(10)

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
15940,Poupee Girl DS 2: Elegant Mint / Sweet Pink Style,DS,2010.0,Misc,0.00,0.00,0.02,0.00,NaN,NaN,NaN
3370,NHL 15,PS4,2014.0,Sports,0.31,0.19,0.00,0.10,60.0,3.6,E10+
8877,Winning Post 4,PS,1999.0,Sports,0.00,0.00,0.14,0.01,NaN,NaN,NaN
13351,Romance of the Three Kingdoms VI: Awakening of...,PS,1998.0,Strategy,0.03,0.02,0.00,0.00,NaN,NaN,NaN
14712,Syberia II,XB,2004.0,Adventure,0.02,0.01,0.00,0.00,71.0,8.7,T
8256,Exhibition Volume 02,XB,2003.0,Misc,0.13,0.04,0.00,0.01,NaN,NaN,NaN
12702,Jacqueline Wilson's Tracy Beaker: The Game,DS,2009.0,Misc,0.00,0.05,0.00,0.00,NaN,NaN,NaN
2269,Nickelodeon Fit,Wii,2010.0,Sports,0.76,0.09,0.00,0.06,NaN,tbd,E
14623,Harry Potter and the Half-Blood Prince,PC,2009.0,Action,0.00,0.03,0.00,0.00,64.0,6.1,E10+
13091,Disney's Party,GC,2002.0,Misc,0.04,0.01,0.00,0.00,39.0,7.8,E

In [9]:
#Guardar el dataset en el directorio principal 

df.to_csv('df_games.csv',index=False)